# NetBeans specific 
**/nbproject/private/
**/build/
**/dist/
Databases
**/lib/nblibraries.properties

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile tools for Java (J2ME)
.mtj.tmp/
StartERMobile/*.iml
StartERMobile/.gradle
StartERMobile/local.properties
StartERMobile/.idea/libraries
StartERMobile/.idea/modules.xml
StartERMobile/.idea/workspace.xml
StartERMobile/.DS_Store
StartERMobile/build
StartERMobile/captures
StartERMobile/.externalNativeBuild

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.properties
